body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s ease;
  z-index: 10;
}

.fade-out {
  opacity: 1;
  pointer-events: all;
}

.portal {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 30%, transparent 70%);
  box-shadow: 0 0 50px 20px rgba(173, 23, 255, 0.8), 
              0 0 80px 40px rgba(0, 183, 255, 0.6);
  animation: pulseGlow 2s infinite alternate ease-in-out;
}

.portal:hover {
  transform: scale(1.1);
  /* animation: pulseGlowRed 2s infinite alternate ease-in-out !important; */
  transition: transform 0.5s ease-in-out;
  cursor: grab;
}

@keyframes pulseGlow {
  0% { box-shadow: 0 0 50px 20px rgba(173, 23, 255, 0.6); }
  100% { box-shadow: 0 0 80px 40px rgba(0, 183, 255, 0.8); }
}

@keyframes pulseGlowRed {
  0% { box-shadow: 0 0 50px 20px rgba(255, 0, 0, 0.6); }
  100% { box-shadow: 0 0 80px 40px rgba(255, 50, 0, 0.8); }
}