<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 1 - Model 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.174.0/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/"
    }
  }
</script>
</head>
<body>
    <h1>3D Model Viewer - Model 1</h1>
    <canvas id="three-canvas"></canvas>
    <script type="module" src="{{ url_for('static', filename='viewbobcat.js') }}"></script>
</body>
</html>
