{% extends "components/stepbase.html" %}
{% block content %}
<script defer>
    const lines = [
        "Standard process is letting the mycelium work with your remains.",
        "The interactions model the sparks between the neurons.",
        "Breathe in, breathe out (malayalam buddhism meditation exercise)",
        "Please enter your legal name. You may re-use your existing name.",
        "This makes the new you a [sun sign] with [sign] rising.",
        "Touch the images that spark the most curiosity in you.",
        "You've opted into the alpha release and we will be using the flight trajectories of these birds.",
        "Decide which one your intuition says is yours.",
        "Please call back to them.",
        "Eat the honey from the bees to moderate your state.",
        "This current state has been saved.",
        "We have targeted this flock and blown them 0.3 degrees southeast",
        "Other adjustments to the ecosystem include an increase of soil acidity by 0.03% and diversifying the bacteria in their resting grounds.",
        "Their state is now equivalent to yours.",
        "[name] will live on at [latlong (link to the google maps view)].",
        "The sun is rising. Exit the machine",
        "Subscribe to see how [] solves new problems.",
    ]
    for (const line of lines) {
        window.captions.show(line);
    }
</script>
{% endblock %}